@import 'define';

#cm-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @headerHeight;
    background-color:@green;
    color: @white;
    .cm-page-title{
        line-height: @headerHeight;
        font-size: 18px;
        text-align: center;
        position: absolute;
        left: 88px;
        right: 88px;
    }
}

.cm-header-icon{
    width: @headerHeight;
    height: @headerHeight;
    display: inline-block;
    text-align: center;
    // background-color: red;
}
.cm-header-btn{
    // width: @headerHeight;
    // height: @headerHeight;
    position: fixed;
    display: none;
    padding: 0 10px;
    cursor: pointer;
    // text-align: center;
}
.icon-back{
    line-height: 2.2rem;
    // background-color: red;
    &::before{
        // content: "";
        // display: inline-block;
        // vertical-align: middle;
        .disido;
        width: .8rem;
        height: .8rem;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        .rotating;
        // transform: rotate(45deg);
        box-sizing: border-box;
    }
}
.test{
    width: 100%;
    text-align: center;
}