@import 'define';
.indev-view {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.train-index {
    background-color: @white;
    padding: .5rem 1rem;
}

.train-selform {
    background: @white;
    font-size: 1.1rem;
    overflow: hidden;
    position: relative;
    li {
        line-height: 2.75rem;
        height: 2.75rem;
        border-bottom-width: 0;
    }
    dd {
        height: 2.7rem;
    }
    .train-station {
        dd {
            width: 38%;
            position: absolute;
            transition: all .5s ease-out;
        }
        .to {
            text-align: right;
            right: 0;
        }
        .to.exchange {
            transform: translate3d(-163%, 0, 0); //为啥是142.5，如何计算出来，此处不解。
            text-align: left;
        }
        .from.exchange {
            transform: translate3d(163%, 0, 0);
            text-align: right;
        }
        dt {
            width: 14%;
            height: 2.75rem;
            position: absolute;
            top: 0px;
            left: 43%;
            .rotating(0deg);
            transition: all .3s ease;
            .icon-change {
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -1rem 0 0 -1rem;
                &::after {
                    width: 1.4rem;
                    height: 1.4rem;
                    .pseudo; // position: absolute;
                    // content: '';
                    left: 50%;
                    top: 50%;
                    margin: -.7rem 0 0 -.7rem;
                    .icon-index; // background-image: url('//pic.c-ctrip.com/train/h5/train/train-index-jb.png');
                    // background-repeat: no-repeat;
                    // background-size: 4rem;
                    background-position: -2rem 0
                }
            }
        }
    }
    .train-time {
        .border-line-grey;
        border-bottom-width: 1px;
        dd {
            // padding: 0 .25rem;
            span {
                .fr;
                font-size: .9rem;
                color: @orage;
                margin-right: .75rem;
            }
        }
        &::after {
            width: .4rem;
            height: .4rem;
            position: absolute;
            border-top: 1px solid @txt2;
            border-right: 1px solid @txt2;
            .rotating();
            .pseudo;
            right: .2rem;
            top: 50%;
            margin-top: -.25rem;
        }
    }
    .train-type {
        // padding: 0 5px;
        display: flex;
        justify-content: space-between;
        -webkit-box-pack: justify;
        border-bottom-width: 1px!important;
        .border-line-grey;
        .train-type-item {
            display: flex;
            align-items: center;
            span {
                font-size: .9rem;
            }
            .train-type-checkbox {
                // background-color: green;
                margin-left: .4rem;
                display: inline-block;
            }
            .train-type-checkbox-selected {
                width: .9rem;
                height: .8rem;
                border: 0;
                background-image: url(//pic.c-ctrip.com/train/h5/train/train-icon.png);
                background-repeat: no-repeat;
                background-size: 10rem;
                background-position: -4.05rem -2.1rem;
            }
            .train-type-checkbox-unselected {
                width: .7rem;
                height: .7rem;
                border: 1px solid #777777;
                border-radius: 2px;
            }
        }
    }
}

.train-index .train-index-btnbox {
    margin-top: .75rem;
    .g_btn_s {
        color: @white;
        font-size: 18px;
        width: 100%;
        height: 2.2rem;
        line-height: 2.2rem;
        border-radius: 3px;
        text-align: center;
        background-color: #ff9a14;
        -webkit-tap-highlight-color: #ff8c00;
        box-shadow: 0 2px 8px rgba(225, 154, 20, .5);
        box-sizing: border-box;
    }
}

.indev-view .train-index-bnav {
    height: 2.75rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: @white;
    li {
        -webkit-box-flex: 1;
        flex: 1;
        position: relative;
        text-align: center;
        color: @txt1;
        line-height: 1.1rem;
        font-size: .55rem;
        i {
            width: 1.25rem;
            height: 1.25rem;
            display: block;
            margin: .2rem auto 0;
            background: url('//pic.c-ctrip.com/train/h5/train/train-index-nav.png') no-repeat;
            background-size: 5rem 2.5rem;
        }
        .icon-qiangpiao {
            background-position: 0 0;
        }
        .icon-seat {
            background-position: -1.25rem 0;
        }
        .icon-status {
            background-position: -2.5rem 0;
        }
        .icon-order {
            background-position: -3.75rem 0;
        }
        .tag-chunyun {
            width: 1.55rem;
            height: .7rem;
            .icon-index;
            background-position: -2.25rem -4.75rem;
            color: @white;
            display: inline-block;
            line-height: .7rem;
            font-size: .5rem;
            position: absolute;
            text-indent: .2rem;
            top: .2rem;
            left: 50%;
            margin-left: .5rem;
        }
    }
}

.indev-view .train-list {
    margin-top: .5rem;
    background: @white;
    line-height: 2.75rem;
    li {
        margin-left: .75rem;
        padding-right: .5rem!important;
        line-height: 2.75rem!important;
        position: relative; //因为有after,所以这个属性必须设置
        .icon-eurail {
            width: 1rem;
            height: 1.25rem;
            background: url(http://images3.c-ctrip.com/train/h5/icon_eurail.png);
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin: -.1rem .4rem 0;
        }
        &::after {
            width: 0.3rem;
            height: .3rem;
            border-top: 1px solid @txt2;
            border-right: 1px solid @txt2;
            .rotating();
            .pseudo;
            right: .99rem;
            top: 53%;
            margin-top: -.25rem;
        }
    }
}